<div class="form-group">
    DISCLAIMER: This is a school project for a web development course. This company is not real and is for my
    portfolio-use only.
    All functionalities are working as specified in the webapp featueres. Check out my github repository for more
    information <a href="https://github.com/iliwysfyasbysuoi/Chapter-One--Refactored-">here</a>.
</div>